<center><h1>Capstone Project Creation</h1></center>
<center><h3>IBM SkillsBuild Europe Delivery - Data Analytics</h3></center>


# Pre-requisite

* Understanding of Python, Power BI or Tableau
* Understanding of Data Cleaning
* Understanding Data Visualization

#### Level of Exercise: Intermediate

#### Duration: approximately 3 hours

### Data Analytics of Airbnb Data:

#### Objective:

In this exericise, you will be performing Data Analytics on an Open Dataset dataset coming from Airbnb. Some of the tasks include
- Data Cleaning.
- Data Transformation
- Data Visualization.

#### Overview of Airbnb Data:

People's main criteria when visiting new places are reasonable accommodation and food. Airbnb (Air-Bed-Breakfast) is an online marketplace created to meet this need of people by renting out their homes for a short term. They offer this facility at a relatively lower price than hotels. Further people worldwide prefer the homely and economical service offered by them. They offer services across various geographical locations

#### Dataset Source

YOu can get the dataset for this assessment using the following link: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata

This dataset contains information such as the neighborhood offering these services, room type, price,avaliabilty, reviews, service fee, cancellation policy and rules to use the house. This analysis will help airbnb in improving its services.  

So all the best for your Data Analytics Journey on Airbnb data!!!

## Task 1: Data Loading (Python)

1. Read the csv file and load it into a pandas dataframe.
2. Display the first five rows of your dataframe.
3. Display the data types of the columns.

In [1]:
import pandas as pd
import os
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
## Read the csv file
df= pd.read_csv('Data\Airbnb_Open_Data.csv')

In [4]:
## Display the first 5 rows
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
## Display the data types
print(df.ftypes)
# print(df.info())

id                                  int64:dense
NAME                               object:dense
host id                             int64:dense
host_identity_verified             object:dense
host name                          object:dense
neighbourhood group                object:dense
neighbourhood                      object:dense
lat                               float64:dense
long                              float64:dense
country                            object:dense
country code                       object:dense
instant_bookable                   object:dense
cancellation_policy                object:dense
room type                          object:dense
Construction year                 float64:dense
price                              object:dense
service fee                        object:dense
minimum nights                    float64:dense
number of reviews                 float64:dense
last review                        object:dense
reviews per month                 float64:dense
review rate number                float64:dense
calculated host listings count    float64:dense
availability 365                  float64:dense
house_rules                        object:dense
license                            object:dense
dtype: object

C:\Users\Elena\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: DataFrame.ftypes is deprecated and will be removed in a future version. Use DataFrame.dtypes instead.

In [7]:
df['country'].isna().sum()

532

## Task 2a: Data Cleaning (Any Tool)

1. Drop some of the unwanted columns. These include `host id`, `id`, `country` and `country code` from the dataset.
2. State the reason for not including these columns for your Data Analytics.

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots before and after the elimination of the columns.

### Solution

**Excluded columns: Country, Country code,**
1. **Country.** There are only one non-NaN value ("United States "), and 532 NaN values. So, the column doesn't add exta infomation
2. **Country code.** The same as Contry: only one non-NaN value ("US"), and 131 NaN values. So, the column doesn't add extra infomation

In [760]:
print('Unique values in the column: \n', df['country'].value_counts(),'\n')

print('Unique values in the column: \n', df['country code'].value_counts())

Unique values in the column:
 United States    102067
Name: country, dtype: int64

Unique values in the column:
 US    102468
Name: country code, dtype: int64

3. **Name** A host is uniquely identified by id, so the name column is redundant
4. **license** has only 2 rows with non-NaN values

In [761]:
print('Count of unique values in the column:', df['license'].value_counts(),'\n')
print('Number of NaN values: \n', df['license'].isna().sum())

Count of unique values in the column: 41662/AL    2
Name: license, dtype: int64

Number of NaN values:
 102597

5. **'host id', 'id', 'host name', 'house_rules','last review'**

In [762]:
df = df.drop(columns=['country', 'country code','NAME', 'host id', 'id', 'host name', 'house_rules','last review', 'license'])

**Dataframe after transformation**

In [763]:
df.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0

## Task 2b: Data Cleaning (Python)

- Check for missing values in the dataframe and display the count in ascending order. **If the values are missing, impute the values as per the datatype of the columns.**
- Check whether there are any duplicate values in the dataframe and, if present, remove them.
- Display the total number of records in the dataframe before and after removing the duplicates.

### Solution

In [764]:
## Check for missing values in the dataframe and display the count in ascending order.
df_nullcount = df.isnull().sum()
print(df_nullcount.sort_values())

room type                             0
lat                                   8
long                                  8
neighbourhood                        16
neighbourhood group                  29
cancellation_policy                  76
instant_bookable                    105
number of reviews                   183
Construction year                   214
price                               247
service fee                         273
host_identity_verified              289
calculated host listings count      319
review rate number                  326
minimum nights                      409
availability 365                    448
reviews per month                 15879
dtype: int64

In [765]:
## Check whether there are any duplicate values in the dataframe and if present remove them.

print('There are %.0f duplicated values in the dataframe' %df.duplicated().sum())

# remove duplicated rows

df.drop(df[df.duplicated()].index, inplace=True)

There are 3636 duplicated values in the dataframe

In [766]:
# check if the duplicates were removed
print('There are %.0f duplicated values in the dataframe' %df.duplicated().sum())

There are 0 duplicated values in the dataframe

In [767]:
## Display the total number of records in the dataframe after removing the duplicates.
print('The total number of records in the dataframe after removing the duplicates:')
len(df)

The total number of records in the dataframe after removing the duplicates:

98963

## Task 3: Data Transformation (Any Tool)


- Rename the column `availability 365` to `days_booked`
- Convert all column names to lowercase and replace the spaces in the column names with an underscore "_".
- Remove the dollar sign and comma from the columns `price` and `service_fee`. If necessary, convert these two columns to the appropriate data type.

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots of your work.

In [768]:
## Rename the column.
df=df.rename(columns={"availability 365": "days_booked"})

In [769]:
## Convert all column names to lowercase and replace the spaces with an underscore "_"
columns_titles = []
for title in df.columns:
    title=title.replace(' ','_')
    columns_titles.append(title.lower())
    
df.columns=columns_titles

In [770]:
df.head()

,host_identity_verified,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,days_booked
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0

In [771]:
## Remove the dollar sign and comma from the columns. If necessary, convert these two columns to the appropriate data type.

df.price=df.price.str.replace(',','').str.replace('$','').str.replace(' ','').astype('float')
df.service_fee=df.service_fee.str.replace(',','').str.replace('$','').str.replace(' ','').astype('float')

### Replacing misspelled values

In [794]:
def filterfunc(x):
    try:
        x=str(int(x))
    except ValueError:
        pass
    return x
    
df.construction_year.apply(filterfunc).unique()
# df.construction_year[df.construction_year.notna()].astype('int').max()

array(['2020', '2007', '2005', '2009', '2013', '2015', '2004', '2008',
       '2010', '2019', '2018', '2006', '2016', '2017', '2021', '2003',
       '2011', '2012', '2022', '2014', nan], dtype=object)

There are misspellings in the names of neighborhood groups.

In [748]:
df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'brookln', 'manhatan', 'Queens', nan,
       'Staten Island', 'Bronx'], dtype=object)

In [749]:
df.neighbourhood_group=df.neighbourhood_group.replace('brookln','Brooklyn').replace('manhatan','Manhattan')

In [750]:
df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', nan, 'Staten Island', 'Bronx'],
      dtype=object)

The values in the Year column should be integer or string. I've chosen string datatype

In [751]:
Filter_NaN_value_Year=df.construction_year.notna()

In [753]:
df.construction_year[Filter_NaN_value_Year]=df.construction_year[Filter_NaN_value_Year].astype('str').str.replace('\.0','')
# df.loc[df.construction_year.notna()]=df.construction_year[Filter_NaN_value_Year].astype('str').str.replace('\.0','')

C:\Users\Elena\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [651]:
df.head()

,host_identity_verified,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,days_booked
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020,966.0,193.0,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007,142.0,28.0,30.0,45.0,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005,620.0,124.0,3.0,0.0,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005,368.0,74.0,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009,204.0,41.0,10.0,9.0,0.10,3.0,1.0,289.0

### Setting data types

In [652]:
categorical_columns=['host_identity_verified', 'neighbourhood_group', 'neighbourhood','cancellation_policy', 'room_type','construction_year']

boolean_columns=['instant_bookable']

for column in categorical_columns:
    df[column]=df[column].astype('category')
    
for column in boolean_columns:
    df[column]=df[column].astype('bool')

In [653]:
df.ftypes

C:\Users\Elena\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: DataFrame.ftypes is deprecated and will be removed in a future version. Use DataFrame.dtypes instead.
  """Entry point for launching an IPython kernel.

host_identity_verified            category:dense
neighbourhood_group               category:dense
neighbourhood                     category:dense
lat                                float64:dense
long                               float64:dense
instant_bookable                      bool:dense
cancellation_policy               category:dense
room_type                         category:dense
construction_year                 category:dense
price                              float64:dense
service_fee                        float64:dense
minimum_nights                     float64:dense
number_of_reviews                  float64:dense
reviews_per_month                  float64:dense
review_rate_number                 float64:dense
calculated_host_listings_count     float64:dense
days_booked                        float64:dense
dtype: object

### Replacing NaN values

In [654]:
df_nullcount = df.isnull().sum()
print(df_nullcount.sort_values())

instant_bookable                      0
room_type                             0
lat                                   8
long                                  8
neighbourhood                        16
neighbourhood_group                  29
cancellation_policy                  76
number_of_reviews                   180
construction_year                   214
price                               247
service_fee                         273
host_identity_verified              289
calculated_host_listings_count      308
review_rate_number                  313
minimum_nights                      398
days_booked                         448
reviews_per_month                 15338
dtype: int64

After the duplicates are removed, and the data types and values are corrected, I replace the missing values (with mod value for categorical data and median value for numerical):

In [672]:
mode=''
median=0
for column in df:
    if df[column].ftypes == 'category:dense':
        mode=df[column].mode()
        print("the mode value is ", mode[0], "\n")
        df[column].fillna(mode[0], inplace=True)
        
    if df[column].ftypes == 'float64:dense':
        median=df[column].median()
        print(median)
        df[column].fillna(median, inplace=True)

the mode value is  unconfirmed

the mode value is  Manhattan

the mode value is  Bedford-Stuyvesant

40.72235
-73.95447
the mode value is  moderate

the mode value is  Entire home/apt

the mode value is  2014

625.0
125.0
3.0
7.0
0.74
3.0
1.0
99.0

C:\Users\Elena\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.ftypes is deprecated and will be removed in a future version. Use Series.dtype instead.
  after removing the cwd from sys.path.
C:\Users\Elena\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Series.ftypes is deprecated and will be removed in a future version. Use Series.dtype instead.
  if __name__ == '__main__':

In [673]:
df_nullcount = df.isnull().sum()
print(df_nullcount.sort_values())

host_identity_verified            0
review_rate_number                0
reviews_per_month                 0
number_of_reviews                 0
minimum_nights                    0
service_fee                       0
price                             0
calculated_host_listings_count    0
construction_year                 0
cancellation_policy               0
instant_bookable                  0
long                              0
lat                               0
neighbourhood                     0
neighbourhood_group               0
room_type                         0
days_booked                       0
dtype: int64

### Task 4: Exploratory Data Analysis (Any Tool)

- List the count of various room types avaliable in the dataset.
- Which room type has the most strict cancellation policy?
- List the average price per neighborhood group, and highlight the most expensive neighborhood to rent from.

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots of your work.

In [680]:
## List the count of various room types avaliable with Airbnb
df.room_type.value_counts()

Entire home/apt    51908
Private room       44796
Shared room         2144
Hotel room           115
Name: room_type, dtype: int64

In [705]:
## Which room type adheres to more strict cancellation policy

for x in df.room_type.unique():
    print(df[df.room_type == x].cancellation_policy.value_counts(normalize=True, sort=False))
#     print(x, df[df.room_type == x], '\n')

flexible    0.330409
moderate    0.336950
strict      0.332641
Name: cancellation_policy, dtype: float64
flexible    0.334033
moderate    0.334476
strict      0.331490
Name: cancellation_policy, dtype: float64
flexible    0.331623
moderate    0.333955
strict      0.334422
Name: cancellation_policy, dtype: float64
flexible    0.382609
moderate    0.321739
strict      0.295652
Name: cancellation_policy, dtype: float64

In [720]:
## List the prices by neighborhood group and also mention which is the most expensive neighborhood group for rentals

df.sort_values('neighbourhood_group')[['neighbourhood_group',"price"]]
for x in df.neighbourhood_group.unique():
    print(x, df[df.neighbourhood_group == x].price.mean(), df[df.neighbourhood_group == x].price.std())

Brooklyn 626.4011607718637 331.5612289097623
Manhattan 622.7137186333349 331.1755509007278
Queens 629.568125 333.1512445509407
Staten Island 627.2699453551912 325.6492258505202
Bronx 627.0743865030674 323.97968816946263

## Task 5a: Data Visualization (Any Tool)

* List the count of various room types avaliable with Airnb
* Which room type adheres to more strict cancellation policy
* List the prices by neighborhood group and also mention which is the most expensive neighborhood group for rentals
* List the top 10 neighborhoods in the increasing order of their price with the help of a horizontal bar graph. Which is the cheapest neighborhood.
* List the neighborhoods which offer short term rentals within 10 days. Illustrate with a bar graph
* List the prices with respect to room type using a bar graph and also state your inferences.
* Create a pie chart that shows  distribution of booked days for each neighborhood group .Which neighborhood has the highest booking percentage.

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots of your work.

In [726]:
df[df['neighbourhood']."price"]]

             neighbourhood   price
0               Kensington   966.0
1                  Midtown   142.0
2                   Harlem   620.0
3             Clinton Hill   368.0
4              East Harlem   204.0
...                    ...     ...
102053            Flatbush   696.0
102054            Bushwick   909.0
102055  Bedford-Stuyvesant   387.0
102056              Harlem   848.0
102057              Harlem  1128.0

[98963 rows x 2 columns]

## Task 5b: Data Visualization (Any Tool)

* Does service price and room price have an impact on each other. Illustrate this relationship with a scatter plot and state your inferences
* Using a line graph show in which year the maximum construction of rooms took place.

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots of your work.

## Task 5c: Data Visualization (Any Tool)

* With the help of box plots illustrate the following
 * Effect of Review Rate number on price
 * Effect of host identity verified on price

If using Python for this exercise, please include the code in the cells below. If using any other tool, please include screenshoots of your work.